<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		
        <File>/home/antonio/log/interfaz-back.log</File>
		
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/home/antonio/log/interfaz-back.%d{dd-MM-yyyy}.zip</FileNamePattern>			
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder> 	    
    </appender>
    
    <logger name="com.ficufi.copapuebla.interfaz" level="DEBUG"/>
    <logger name="com.ficufi.copapuebla.back" level="DEBUG"/>
    <logger name="com.ficufi.copapuebla.persistence" level="DEBUG"/>
    
    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender"/>
    </root>

</configuration>